* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.logo {
  height: 3em;
  width: 3em;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
}

.nabvar {
  display: flex;
  gap: 2em;
  list-style: none;
}

.home-section {
  text-align: center;
  padding-top: 7%;
}

.display-home {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  gap: 5%;
  padding: 10%;
  margin-left: -9%;
}

.meals {
  font-size: large;
  padding: 5% 0;
}

button {
  height: 40px;
  background-color: rgb(49, 39, 39);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3%;
  padding-inline: 10%;
  font-size: 100%;
}

.footer-div {
  position: fixed;
  bottom: 15px;
  left: 40%;
}

#modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: white;
  z-index: 1;
  height: 90vh;
  width: 40em;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

#modal.open {
  display: block;
}

#overlay.open {
  display: block;
}

.popup-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-container i {
  align-self: flex-end;
  margin-bottom: 1em;
}

.popup-img {
  width: 12em;
  height: 10em;
  margin-bottom: 1em;
}

.popup-meal {
  text-align: center;
  margin-bottom: 1em;
}

.popup-grid {
  padding: 0.5em;
  width: 25em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
  text-align: left;
  margin-left: 10%;
}

.popup-meal-details {
  min-width: 13em;
}

.popup-meal-details a {
  color: red;
}

.icon {
  cursor: pointer;
}
