* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.logo {
  height: 3em;
  width: 3em;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
}

.nabvar {
  display: flex;
  gap: 2em;
  list-style: none;
}

.home-section {
  text-align: center;
  padding-top: 7%;
}

.display-home {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5%;
  padding: 10%;
}

.meals {
  font-size: large;
  padding: 5% 0;
}

button {
  height: 40px;
  background-color: rgb(49, 39, 39);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3%;
  padding-inline: 10%;
  font-size: 100%;
}

.footer-div {
  position: fixed;
  bottom: 15px;
  left: 40%;
}
